{% extends "base.html" %}

{% block title %}Django Demo - Users{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Users</h1>
</section>

<section class="content">
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of users</h3>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped">
                        <tbody>
                            {% if object_list %}
                                <tr>
                                    <th>Username</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Email</th>
                                    <th>Active</th>
                                </tr>
                                {% for user in object_list %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        {% if user.is_active %}
                                            <td><span class="label label-success">Active</span></td>
                                        {% else %}
                                            <td><span class="label label-danger">Inactive</span></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td>There are currently no users.</td>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <div class="box-footer clearfix">
                    {% include "./misc/pagination.html" %}
                </div>
            </div>
        </div>
    </div> 
</section>
{% endblock %}